<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        
        <meta charset="utf-8">
        <meta name="description" content="LTI 1.3 Platform Demo ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <base href="/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <h1 class="heading mt-4 mb-4">LTI 1.3 Platform</h1>
            <div class="content-area">
                <% courses.forEach(function(course) { %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= course.title %></h5>
                        <p class="card-text"><%= course.desc %></p>
                        <a href=<%= course.resLink.href %>?toolId=<%= course.resLink.toolId %> class="btn btn-primary"><%= course.resLink.title %></a>
                    </div>
                </div>
                <% }); %>
            </div>
    </body>
</html>